.App {
    text-align: center;
  }
 
 .Gif-App{
  background-color: #282c34;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  text-decoration: none;
 }


.Gif_links {
    text-align: left;
    font-size: 20px;
}
.gif_body{
  visibility: hidden;
}
.show {
  visibility: visible;
}