.Nav {
    font-family: "Roboto", sans-serif;

    

}
  
  
  .navigationWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #222;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    color: white;
    text-transform: uppercase;
    overflow: hidden;
    width: 100%;
  }
    .logoWrapper {
      display: flex;
      margin-left: 10px;
    }
      .stylish {
        font-weight: bold;
      }
  
      .logo {
        padding-left: 4px;
        color: #4f4cea;
      }
    
  
    .navigation {
      display: flex;
      list-style-type: none;
      margin-right: 30px;
    }
      .navigation li {
        opacity: 1;
        list-style-type: none;
        color: white;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
      }
  
      .parent {
        padding: 0 10px;
        cursor: pointer;
      }
        .link {
          position: relative;
          display: flex;
          align-items: center;
          text-decoration: none;
          transition: all 0.3s ease-in-out;
          color: white;
        }
          .link:hover {
            color: #665eac;
          }


  